.red-box{
  background-color: red;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.green-circle{
  background-color: green;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.ex-9c{
  margin-top: 30px;
  padding-left: 20px;
  width: 200px;
  height: 100px;
  border: solid;
  border-color: black;
  border-width: thin;
}

.ex-9d{
  width: 400px;
  height: 100px;
  border: none;
  background-color: rgb(59, 59, 59);
  padding: 2px 10px 20px 10px;
  margin-top: 30px;
}

.install-9d{
  color: white;
  font-size: 20px;
  font-family: roboto;
  font-weight: bold;
}

.add-9d{
  color: rgb(197, 197, 197);
  font-family: roboto;
}

.c-a-t{
  width: 48px;
  border-radius: 200px;
  vertical-align: middle;
}

.tweet-box-7g{
  font-family: roboto;
  border:none;
  font-size: 16px;
  margin-right: 30px;
  margin-left: 8px;

}

.tweet-box-7g:focus{
  outline: none;

}

.button-7g{
  font-size: 16px;
  border: none;
  background-color: #1DA1F2;
  color: rgb(255, 255, 255);
  border-radius:26px;
  padding: 8px 16px; 
  cursor: pointer;
  font-weight: bold;
}

.twitter-div{
  margin-top: 100px;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  display: block;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
}

div{margin-top: 30px;
}

.kitty-facebook{
  margin-left: 10px;
  vertical-align: left;
  font-family: roboto;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 0px 0px 6px 0px;
}

.kitty{
  width:150px;
  height: 150px;
  margin-bottom: 2px;
  object-fit: cover;
}

.profile-name{
  font-size: 14px;
  font-weight: bold;
  margin: 2px 2px 2px 2px;
}

.mutual-friends{
  color: rgb(131, 131, 131);
  font-size: 12px;
  margin: 2px 2px 10px 2px;
}

.add-friend-button{
  border: none;
  color: white;
  background-color: rgb(37, 88, 184);
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  font-weight: bold;

}

.add-friend-button:hover{
  opacity: 0.8;
  cursor: pointer;
}

.search-box-8c{
  display: inline-block;
  font-family: roboto;
  border-radius: 26px;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  margin: 0px 0px 0px 0px;
  transition: background-color 0.5s;
  width: 200px;
  padding-right: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  text-align: justify;
}

.search-box-8c:hover{
  background-color: rgb(241, 241, 241);
}

.search-box-8c:focus{
  background-color: rgb(241, 241, 241);
  outline: none;
}

.Logo{
  display: inline;
  width: 200px;
}

.google{
  text-align: center;
}

.google-search{
  font-family: roboto;
  font-weight: bold;
  border: none;
  background-color: rgb(241, 241, 241);
  padding: 10px 15px 10px 15px;
}

.feeling-lucky{
  margin-top: 30px;
  font-family: roboto;
  font-weight: bold;
  border: none;
  background-color: rgb(241, 241, 241);
  padding: 10px 15px 10px 15px;

}